<a href="https://colab.research.google.com/github/Quenassier/3laba/blob/main/Untitled0_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import matplotlib.pyplot as plt
import pandas as pd

ptd = [pd.read_csv(f'part_0{i + 1}.csv') if i < 9 else pd.read_csv(f'part_{i + 1}.csv') for i in range(12)]


db = pd.concat([ptd[0], ptd[8]], ignore_index=True)
db2 = pd.concat([ptd[1], ptd[10]], ignore_index=True)
db3 = pd.concat([ptd[3], ptd[6]], ignore_index=True)
db4 = pd.concat([ptd[4], ptd[11]], ignore_index=True)
db5 = pd.concat([ptd[5], ptd[9]], ignore_index=True)
db6 = pd.concat([ptd[2], ptd[7]], ignore_index=True)

dbraw = [db2, db3, db4, db5, db6]

In [14]:
for i in range(len(dbraw)):
  db = db.merge(dbraw[i], left_on='ID', right_on='ID')
db.drop('APP_EMP_TYPE', axis= 1 , inplace= True )

db.drop_duplicates()

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,LDEAL_TENOR_MAX,LDEAL_TENOR_MIN,LDEAL_USED_AMT_AVG_YQZ,LDEAL_USED_AMT_AVG_YWZ,LDEAL_YQZ_CHRG,LDEAL_YQZ_COM,LDEAL_YQZ_PC,MAX_PCLOSE_DATE,MED_DEBT_PRC_YQZ,MED_DEBT_PRC_YWZ
0,358628,0.914453,0.003802,0.000000,0.030183,0.216216,0.540541,0.333333,0.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,528730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,160451,0.989403,0.000239,0.000992,0.000765,NaN,0.312500,NaN,0.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,210467,0.561584,0.000000,0.016932,0.009256,NaN,0.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,292486,0.201789,0.147567,0.033131,0.165119,0.142857,1.000000,NaN,0.400000,0.266667,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355185,429336,0.689106,0.000000,0.000000,0.182250,0.464286,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355186,434397,0.804371,0.028065,0.009167,0.073858,0.181818,0.848485,0.076923,1.000000,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0
355187,151916,0.143807,0.026907,0.000000,0.122340,NaN,NaN,NaN,NaN,0.250000,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0
355188,165248,0.268573,0.054830,0.000000,0.100210,0.800000,0.800000,NaN,NaN,0.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355189,192800,0.995660,0.000000,0.000000,0.000000,0.333333,0.333333,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
list_sm = list(db.select_dtypes(include = 'object').columns)
en_to_rus = {'specialist': 'специалист', 'manager': 'менеджер', 'friend': 'друг', 'mother': 'мать', 'relative': 'близкий ро', 'brother': 'брат', 'sister': 'сестра', 'father': 'отец', 'other': 'дальний ро', 'daughter': 'дочь', 'son': 'сын'}

for sln in list_sm:
    db[sln].where(db[sln].str.replace(' ','').str.isalpha(), np.nan, inplace=True)
    db[sln] = db[sln].str.lower()

    db[sln] = db[sln].replace(en_to_rus)

    #print(db[sln].unique())

print(db['CLNT_TRUST_RELATION'].unique())
print(db['APP_MARITAL_STATUS'].unique())
print(db['CLNT_JOB_POSITION'].nunique())

[nan 'друг' 'мать' 'близкий ро' 'брат' 'сестра' 'отец' 'дальний ро' 'дочь'
 'сын' 'муж' 'жена']
[nan 'm' 'v' 'd' 't' 'w' 'n' 'c']
9716

In [16]:
db = db.sort_values('ID')

In [17]:
print(db.head(10))
print(f"Rows: {db.shape[0]} Cols: {db.shape[1]}")

            ID  AMOUNT_RUB_ATM_PRC  AMOUNT_RUB_CLO_PRC  AMOUNT_RUB_NAS_PRC  \
236790  146841            1.000000            0.000000            0.000000
196597  146842            0.410691            0.041033            0.000000
243652  146843            0.925140            0.006915            0.000000
22845   146844            1.000000            0.000000            0.000000
195106  146845            1.000000            0.000000            0.000000
339288  146846            0.767778            0.077010            0.008501
222523  146847            0.000000            0.000000            0.000000
33053   146848            0.222794            0.748631            0.000000
199684  146850            0.751444            0.017322            0.000000
37879   146851            0.093474            0.067036            0.000000

        AMOUNT_RUB_SUP_PRC  CNT_TRAN_ATM_TENDENCY1M  CNT_TRAN_ATM_TENDENCY3M  \
236790            0.000000                 0.101695                 0.406780
196597            0.244678                 0.166667                 0.333333
243652            0.000000                 0.133333                 0.366667
22845             0.000000                      NaN                      NaN
195106            0.000000                 0.172414                 0.620690
339288            0.050708                 0.166667                 0.500000
222523            0.000000                      NaN                      NaN
33053             0.000000                      NaN                      NaN
199684            0.002935                 0.045455                 0.272727
37879             0.426053                      NaN                 1.000000

        CNT_TRAN_AUT_TENDENCY1M  CNT_TRAN_AUT_TENDENCY3M  \
236790                      NaN                      NaN
196597                 0.166667                 0.666667
243652                      NaN                      NaN
22845                       NaN                      NaN
195106                      NaN                      NaN
339288                 0.500000                 1.000000
222523                      NaN                      NaN
33053                       NaN                      NaN
199684                 0.333333                 0.333333
37879                       NaN                      NaN

        CNT_TRAN_CLO_TENDENCY1M  ...  LDEAL_TENOR_MAX  LDEAL_TENOR_MIN  \
236790                      NaN  ...              NaN              NaN
196597                      NaN  ...              NaN              NaN
243652                      NaN  ...              NaN              NaN
22845                       NaN  ...              NaN              NaN
195106                      NaN  ...              NaN              NaN
339288                     0.25  ...              NaN              NaN
222523                      NaN  ...              NaN              NaN
33053                      1.00  ...              NaN              NaN
199684                      NaN  ...              NaN              NaN
37879                      0.20  ...              NaN              NaN

        LDEAL_USED_AMT_AVG_YQZ  LDEAL_USED_AMT_AVG_YWZ  LDEAL_YQZ_CHRG  \
236790                     NaN                     NaN             NaN
196597                     NaN                     NaN             NaN
243652                     NaN                     NaN             NaN
22845                      NaN                     NaN             NaN
195106                     NaN                     NaN             NaN
339288                     NaN                     NaN             NaN
222523                     NaN                     NaN             NaN
33053                      NaN                     NaN             NaN
199684                     NaN                     1.0             NaN
37879                      NaN                     NaN             NaN

        LDEAL_YQZ_COM  LDEAL_YQZ_PC  MAX_PCLOSE_DATE  MED_DEBT_PRC_YQZ  \
236790            NaN           NaN              NaN               NaN
196597            NaN           NaN              NaN               NaN
243652            NaN           NaN              NaN               NaN
22845             NaN           NaN              NaN               NaN
195106            NaN           NaN              NaN               NaN
339288            NaN           NaN              NaN               NaN
222523            NaN           NaN              NaN               NaN
33053             NaN           NaN              NaN               NaN
199684            NaN           NaN              NaN               NaN
37879             NaN           NaN              NaN               NaN

        MED_DEBT_PRC_YWZ
236790               NaN
196597               NaN
243652               NaN
22845                NaN
195106               NaN
339288               NaN
222523               NaN
33053                NaN
199684               0.0
37879                NaN

[10 rows x 115 columns]
Rows: 355190 Cols: 115

In [18]:
for i in range(1, len(dbraw)):
  db = db.merge(dbraw[i], left_on='ID', right_on='ID')

In [19]:
db.drop_duplicates()

,ID,AMOUNT_RUB_ATM_PRC,AMOUNT_RUB_CLO_PRC,AMOUNT_RUB_NAS_PRC,AMOUNT_RUB_SUP_PRC,CNT_TRAN_ATM_TENDENCY1M,CNT_TRAN_ATM_TENDENCY3M,CNT_TRAN_AUT_TENDENCY1M,CNT_TRAN_AUT_TENDENCY3M,CNT_TRAN_CLO_TENDENCY1M,...,LDEAL_TENOR_MAX_y,LDEAL_TENOR_MIN_y,LDEAL_USED_AMT_AVG_YQZ_y,LDEAL_USED_AMT_AVG_YWZ_y,LDEAL_YQZ_CHRG_y,LDEAL_YQZ_COM_y,LDEAL_YQZ_PC_y,MAX_PCLOSE_DATE_y,MED_DEBT_PRC_YQZ_y,MED_DEBT_PRC_YWZ_y
0,146841,1.000000,0.000000,0.000000,0.000000,0.101695,0.406780,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,146842,0.410691,0.041033,0.000000,0.244678,0.166667,0.333333,0.166667,0.666667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,146843,0.925140,0.006915,0.000000,0.000000,0.133333,0.366667,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,146844,1.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,146845,1.000000,0.000000,0.000000,0.000000,0.172414,0.620690,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355185,590822,0.786104,0.000000,0.000000,0.000000,NaN,0.500000,0.142857,1.000000,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0
355186,590823,0.000000,0.000000,0.262714,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355187,590825,0.000000,0.041298,0.031179,0.095187,NaN,NaN,0.089286,0.392857,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355188,590826,0.717427,0.000000,0.282573,0.000000,0.250000,1.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355189,590828,1.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0

In [20]:
db.APP_COMP_TYPE.where(db.APP_COMP_TYPE.str.replace(' ','').str.isalpha(), np.nan, inplace=True)
db.APP_COMP_TYPE = db.APP_COMP_TYPE.str.lower()

In [21]:
print(list(db.APP_COMP_TYPE.unique()))
dbTrans = db.T()
dbTrans = dbTrans.drop_duplicates()
db = dbTrans.T()

[nan, 'private', 'state', 'ip', 'inter']

In [32]:
db = db.sort_values('ID')

In [23]:
print(db.head(10))

       ID AMOUNT_RUB_ATM_PRC AMOUNT_RUB_CLO_PRC AMOUNT_RUB_NAS_PRC  \
0  146841                1.0                0.0                0.0
1  146842           0.410691           0.041033                0.0
2  146843            0.92514           0.006915                0.0
3  146844                1.0                0.0                0.0
4  146845                1.0                0.0                0.0
5  146846           0.767778            0.07701           0.008501
6  146847                0.0                0.0                0.0
7  146848           0.222794           0.748631                0.0
8  146850           0.751444           0.017322                0.0
9  146851           0.093474           0.067036                0.0

  AMOUNT_RUB_SUP_PRC CNT_TRAN_ATM_TENDENCY1M CNT_TRAN_ATM_TENDENCY3M  \
0                0.0                0.101695                 0.40678
1           0.244678                0.166667                0.333333
2                0.0                0.133333                0.366667
3                0.0                     NaN                     NaN
4                0.0                0.172414                 0.62069
5           0.050708                0.166667                     0.5
6                0.0                     NaN                     NaN
7                0.0                     NaN                     NaN
8           0.002935                0.045455                0.272727
9           0.426053                     NaN                     1.0

  CNT_TRAN_AUT_TENDENCY1M CNT_TRAN_AUT_TENDENCY3M CNT_TRAN_CLO_TENDENCY1M  \
0                     NaN                     NaN                     NaN
1                0.166667                0.666667                     NaN
2                     NaN                     NaN                     NaN
3                     NaN                     NaN                     NaN
4                     NaN                     NaN                     NaN
5                     0.5                     1.0                    0.25
6                     NaN                     NaN                     NaN
7                     NaN                     NaN                     1.0
8                0.333333                0.333333                     NaN
9                     NaN                     NaN                     0.2

   ... LDEAL_YQZ_CHRG_x LDEAL_YQZ_COM_x LDEAL_YQZ_PC_x MAX_PCLOSE_DATE_x  \
0  ...              NaN             NaN            NaN               NaN
1  ...              NaN             NaN            NaN               NaN
2  ...              NaN             NaN            NaN               NaN
3  ...              NaN             NaN            NaN               NaN
4  ...              NaN             NaN            NaN               NaN
5  ...              NaN             NaN            NaN               NaN
6  ...              NaN             NaN            NaN               NaN
7  ...              NaN             NaN            NaN               NaN
8  ...              NaN             NaN            NaN               NaN
9  ...              NaN             NaN            NaN               NaN

  MED_DEBT_PRC_YQZ_x MED_DEBT_PRC_YWZ_x   CLNT_JOB_POSITION_y  \
0                NaN                NaN      начальник отдела
1                NaN                NaN                   NaN
2                NaN                NaN  ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
3                NaN                NaN          МЕНЕДЖЕР ИАО
4                NaN                NaN                   NaN
5                NaN                NaN                   NaN
6                NaN                NaN              Директор
7                NaN                NaN       предприниматель
8                NaN                0.0  Генеральный директор
9                NaN                NaN            АРХИТЕКТОР

  CLNT_JOB_POSITION_TYPE_y CLNT_TRUST_RELATION_y PACK_y
0                      NaN                   NaN    K01
1                      NaN                   NaN    102
2                      NaN                   NaN    102
3                      NaN                   NaN    K01
4                      NaN                   NaN    102
5                      NaN                   NaN    105
6                      NaN                   NaN    105
7                      NaN                   NaN    O01
8                      NaN                   NaN    O01
9                      NaN                   NaN    O01

[10 rows x 108 columns]

In [24]:
print("Rows: " + str(db.shape[0]) + " Cols: " + str(db.shape[1]))

Rows: 355190 Cols: 108

In [27]:
print(db['CLNT_TRUST_RELATION_y'].unique)
print(db['APP_MARITAL_STATUS'].unique)
print(db['CLNT_JOB_POSITION_y'].unique)

<bound method Series.unique of 0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
355185       NaN
355186       NaN
355187       NaN
355188       NaN
355189    SISTER
Name: CLNT_TRUST_RELATION_y, Length: 355190, dtype: object>
<bound method Series.unique of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
355185    NaN
355186    NaN
355187    NaN
355188    NaN
355189      n
Name: APP_MARITAL_STATUS, Length: 355190, dtype: object>
<bound method Series.unique of 0             начальник отдела
1                          NaN
2         ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
3                 МЕНЕДЖЕР ИАО
4                          NaN
                  ...
355185                     NaN
355186                     NaN
355187                     NaN
355188            Руководитель
355189      РЕКЛАМНЫЙ МЕНЕДЖЕР
Name: CLNT_JOB_POSITION_y, Length: 355190, dtype: object>